h1,h2, h3, button, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-control {
    align-items: center;
    width: 200px;
}

.points span{
    font-weight: bold;
}

.tip span{
    color: #ecfa00;
}


.wordContainer{
    padding: 1rem;
    border: 12px solid #ecfa00;
    border-radius: 20px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter,
.blankSquare{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fefefe;
    color:#000;
    font-weight: bold;
}

.letterContainer p{
    margin-bottom: 1.2em;
}

.form-control{
    width: 50px;
    text-align: center;
}

